{% load static %}

<h1>
    {{ object.name }} 
    <small>
        <a href="{{ object.get_update_url }}">
            Edit
        </a>
        <a 
            href="{{ object.get_delete_url }}"
            hx-post="{{ object.get_delete_url }}"
            hx-confirm="Tem certeza que deseja delete {{ object.name }} ?"
            hx-trigger='click' 
        />
            | Delete
        </a>
    </small>
</h1>
<p>Autor: {{ object.user.username }}</p>
<p>{{ object.description }}</p>
<p>{{ object.directions }}</p>

{% for ingredient in object.get_ingredients_children %}
<h3>{{ ingredient.name }}</h3>
<p>{{ ingredient.description }}</p>
<p>{{ ingredient.as_mks }}</p>
{% endfor %}
<h3>
    <a href="{% url 'recipes:recipe_list' %}">Voltar</a>
</h3>